{% extends "layouts/base.html" %}

{% block title %} Usuarios {% endblock %} 

{% block body_class %} sidebar-mini pace-primary {% endblock body_class %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/static/assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/static/assets/plugins/pace-progress/themes/black/pace-theme-flat-top.css">
  <link rel="stylesheet" href="/static/assets/css/adminlte.min.css">
{% endblock stylesheets %}

{% block content %}  
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Usuarios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Usuarios</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Lista de Usuarios</h3>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <input type="text" id="dniSearch" class="form-control" placeholder="Buscar por DNI" onkeyup="filterTable()">
          </div>
          <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Fecha de Registro</th>
                </tr>
              </thead>
              <tbody id="response-container">
                <tr>
                  <td colspan="6">Cargando...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <!-- Card para registrar usuarios -->
      <div class="card">
        <div class="card-header">
            <h3 class="card-title">Registrar Usuario</h3>
        </div>
        <div class="card-body">
            <form id="registerForm">
                <div class="mb-3">
                    <label for="dni">DNI:</label>
                    <input type="text" class="form-control" id="dni" required>
                </div>
                <div class="mb-3">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" class="form-control" id="telefono" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Crear Usuario</button>
                </div>
            </form>
            <div id="registerResponse"></div>
        </div>
    </div>
    
    </section>
  </div>

{% endblock content %}

{% block javascripts %}
  <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/plugins/pace-progress/pace.min.js"></script>
  <script src="/static/assets/js/adminlte.min.js"></script>
  <script src="/static/assets/js/demo.js"></script>
  
  <script>
    $(document).ready(function() {
      // Realizar la solicitud GET para cargar usuarios
      $.get('{{ url_for("usuarios.get_all") }}', function(data) {
        $('#response-container').empty();
        $.each(data, function(index, user) {
          $('#response-container').append(
            `<tr>
                <td>${user.dni}</td>
                <td>${user.nombres}</td>
                <td>${user.apellidos}</td>
                <td>${user.correo}</td>
                <td>${user.telefono}</td>
                <td>${user.fecha_registro}</td>
            </tr>`
          );
        });
      }).fail(function() {
        $('#response-container').html('<tr><td colspan="6">Error al cargar los datos.</td></tr>');
      });

      // Lógica para crear un nuevo usuario
      $('#createUserBtn').click(function() {
        const dni = $('#dni').val();
        const telefono = $('#telefono').val();

        // Hacer la petición POST a la ruta de creación
        $.ajax({
          url: '{{ url_for("usuarios.create") }}',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ dni: dni, telefono: telefono }),
          success: function(response) {
            alert(response.message);
            // Reiniciar el formulario
            $('#userForm')[0].reset();
            $('#userNames').empty();
            $('#userLastNames').empty();
            // Actualizar la tabla de usuarios
            location.reload();
          },
          error: function(jqXHR) {
            alert(jqXHR.responseJSON.error);
          }
        });
      });
    });

    function filterTable() {
      let input = document.getElementById('dniSearch');
      let filter = input.value.toLowerCase();
      let table = document.querySelector('.table');
      let rows = table.getElementsByTagName('tr');

      for (let i = 1; i < rows.length; i++) {
        let cells = rows[i].getElementsByTagName('td');
        let dniCell = cells[0];
        if (dniCell) {
          let txtValue = dniCell.textContent || dniCell.innerText;
          rows[i].style.display = txtValue.toLowerCase().indexOf(filter) > -1 ? "" : "none";
        }
      }
    }

    function fetchUserInfo() {
      const dni = $('#dni').val();
      if (dni) {
        $.get(`/api/get_person/${dni}`, function(data) {
          $('#userNames').text(data.nombres);
          $('#userLastNames').text(`${data.apellidoPaterno} ${data.apellidoMaterno}`);
        }).fail(function() {
          $('#userNames').text('No se encontraron nombres.');
          $('#userLastNames').text('No se encontraron apellidos.');
        });
      } else {
        $('#userNames').empty();
        $('#userLastNames').empty();
      }
    }
  </script>
  <script>
    $('#registerForm').on('submit', function(event) {
            event.preventDefault();
            
            const dni = $('#dni').val();
            const telefono = $('#telefono').val();

            // Realizar la solicitud POST
            $.ajax({
                url: '{{ url_for("usuarios.create") }}',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ dni: dni, telefono: telefono }),
                success: function(response) {
                    // Crear un mensaje de éxito que incluya nombres y apellidos
                    $('#registerResponse').html(`
                        <div class="alert alert-success">
                            ${response.message}<br>
                            Usuario creado: ${response.usuario.nombres} ${response.usuario.apellidos}
                        </div>
                    `);
                    // Limpiar el formulario
                    $('#registerForm')[0].reset();
                },
                error: function(xhr) {
                    const error = xhr.responseJSON ? xhr.responseJSON.error : 'Error desconocido';
                    $('#registerResponse').html(`<div class="alert alert-danger">${error}</div>`);
                }
            });
        });
    </script>

{% endblock javascripts %}
