  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/codeguard_logo_blanco.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">CodeGuardGT</span>
    </a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
  <div class="image">
    <img src="/static/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" style="width: 50px; height: 50px; object-fit: cover;">
  </div>
  <div class="info ml-3">
    <a href="#" class="d-block user-name text-white" style="font-size: 0.9rem; font-weight: bold;">
      {{ current_user.nombres }}
    </a>
    
    <span class="badge 
      {% if current_user.role == 'Administracion' %}
        badge-danger
      {% elif current_user.role == 'Docente' %}
        badge-success
      {% elif current_user.role == 'Estudiante' %}
        badge-info
      {% else %}
        badge-secondary
      {% endif %}
    ">
      {{ current_user.role }}
    </span>

    <div class="text-muted small mt-1">
      <strong>DNI:</strong> {{ current_user.dni }}
    </div>
  </div>
</div>


  <!-- SidebarSearch Form -->
  <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

      {% if current_user.role == 'Administracion' %}
      <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
        <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Gestión
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{ url_for('home.get_gestion_usuarios') }}" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Gestión de Usuarios</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('home.get_gestion_roles') }}" class="nav-link {% if 'index.html' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Gestión de Roles</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('home.admin_change_password') }}"" class="nav-link">
          <i class="nav-icon fas fa-key"></i>
          <p>Modificar Contraseñas</p>
        </a>
      </li>
      {% elif current_user.role == 'Docente' %}
      <li class="nav-item has-treeview {% if 'cursos' in segment %} menu-open {% endif %}">
        <a href="#" class="nav-link {% if 'cursos' in segment %} active {% endif %}">
          <i class="nav-icon fas fa-book"></i>
          <p>
            Gestión Cursos
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/gestionar-cursos.html" class="nav-link {% if 'gestionar-cursos' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Gestión de Cursos</p>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item has-treeview {% if 'evaluaciones' in segment or 'revision-evaluaciones' in segment %} menu-open {% endif %}">
        <a href="#" class="nav-link {% if 'evaluaciones' in segment or 'revision-evaluaciones' in segment %} active {% endif %}">
          <i class="nav-icon fas fa-clipboard-list"></i>
          <p>
            Gestión Evaluaciones
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/evaluaciones.html" class="nav-link {% if 'evaluaciones' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Gestión de Evaluaciones</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/revision-evaluaciones.html" class="nav-link {% if 'revision-evaluaciones' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Revisión de Evaluaciones</p>
            </a>
          </li>
        </ul>
      </li>
      {% elif current_user.role == 'Estudiante' %}
      <li class="nav-item has-treeview {% if 'mis-cursos' in segment %} menu-open {% endif %}">
        <a href="#" class="nav-link {% if 'mis-cursos' in segment %} active {% endif %}">
          <i class="nav-icon fas fa-graduation-cap"></i>
          <p>
            Mis Cursos
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{{ url_for('home.mis_cursos') }}" class="nav-link {% if 'mis-cursos' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Mis Cursos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mis-evaluaciones.html" class="nav-link {% if 'mis-evaluaciones' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Mis Evaluaciones</p>
            </a>
          </li>
        </ul>
      </li>
      {% endif %}

      <li class="nav-header">SESIÓN</li>
      <li class="nav-item">
        <a href="{{ url_for('home.get_profile') }}" class="nav-link">
          <i class="nav-icon fas fa-user"></i>
          <p>Mi Perfil</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('auth.logout') }}" class="nav-link" style="background-color: #dc3545; color: white;">
          <i class="nav-icon fas fa-sign-out-alt"></i>
          <p>Cerrar Sesión</p>
        </a>
      </li>

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->


  </aside>
  